@{
    ViewBag.Title = "Блокнот";
}
<br>
<div class="container">
    @{ Html.RenderPartial("_Create");    }
    <br>
    <div class="btn-group" data-bind="foreach: notepads">
        <button id="notepads" class="btn btn-default" data-bind=" text: Name, attr: { name: Name }, click: selectnote"></button>
    </div>
    <br><br>
    <div class="form-group">
        <!--Image-->
        <label for="content"><img data-bind="attr: { src: notepadImage }" /></label>
        <textarea class="form-control" id="content" rows="5" data-bind="value: Content"></textarea>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-bind="click: saveItem">Сохранить</button>
        <button type="button" class="btn btn-default" data-bind="click: removeItem">Удалить</button>
    </div>
    <br><br>
    <div data-bind="visible: visible() > 0, css: {'alert': visible()>0 ,'alert-success': visible() == 1, 'alert-danger': visible() == 2}, html: message">
    </div>
</div>